<h1>Build a new address book here.</h1>

<form action="/addressbooks" method="post"
  <div class="form-group"
    <label for="name">What do you want to name your address book?</label>
    <input id="name" name="name" class="form-control" type="text">
  </div>

  <button type="submit" class="btn-success">Enter your address book</button>
</form>
