<h1>Welcome to Address Book.</h1>

<h3>Would you like to look at your address book or make a new one?</h3>

<a href="/addressbooks">See the list of available address books.</a>
<a href="/addressbooks/new">Make a new address book.</a>
